{
  "branches": [
    "master",
    "next"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "dist",
          "docs",
          "templates",
          "package.json",
          "README.md"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "dist",
          "docs",
          "templates",
          "package.json",
          "README.md"
        ]
      }
    ],
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": true,
        "markdownReleaseNotes": true,
        "onSuccessTemplate": {
          "text": "A new version of $package_name with version $npm_package_version has been released!<br/>Check it out at [$repo_path]($repo_url)"
        },
        "onFailTemplate": {
          "text": "An error occurred while trying to publish a new version of [$repo_path]($repo_url)"
        }
      }
    ]
  ]
}
