{
    "branches": [
        "master",
        "next"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "dist",
                    "docs",
                    "templates",
                    "package.json",
                    "README.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    "dist",
                    "docs",
                    "templates",
                    "package.json",
                    "README.md"
                ],
                "assignees": [
                    "MichaelHettmer"
                ]
            }
        ]
    ]
}
